<div class="main-container main-container--inner-border main-container--animate-border">
  <h2 class="text text--main text--center">
    I'm still under<br>development...<span class="text text--main text--blink">|</span>
  </h2>
  <p class="text text--secondary text--center text--pad-top">
    For now, you can reach Ameya here:
  </p>
  <a href="mailto: ameya.akhouri@gmail.com" class="link">
    ameya.akhouri@gmail.com
  </a>
  <div class="main-container__contact-icons">
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ameyaakhouri/" class="link link--icon">
      <i class="icon icon--linkedin"></i>
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/absolut-zero" class="link link--icon">
      <i class="icon icon--github"></i>
    </a>
  </div>
</div>
